@model EventPlanner.Models.SubjectModels.SubjectDetail

@{
    ViewBag.Title = "Details";
}

<div>
    <h2 style="text-align: center; padding-top: 1em;">Subject Details</h2>
    <hr />

    <div class="card-container" style="text-align: center;">
        <div class="card" style="height: 10em; width: 20em; display: inline-flex; padding: 1em 1em 1em 1em; margin: 1em 1em 1em 1em;">
            <div style="text-align: left;">
                @Html.DisplayFor(model => model.SubjectID)
            </div>

            <div style="color: maroon; font-weight: 700">
                @Html.DisplayFor(model => model.TypeOfEvent)
            </div>

            <div style="padding-bottom: 15px;">
                @Html.DisplayFor(model => model.SubjectName)
            </div>

            <div>
                @Html.ActionLink(" ", "Edit", new { id = Model.SubjectID }, new { @class = "fa fa-edit", @title = "Edit" })
                @Html.ActionLink(" ", "Index", new { id = Model.SubjectID }, new { @class = "fas fa-arrow-left", @title = "Return to Subjects" })
            </div>
        </div>

    </div>
</div>
