@model IEnumerable<EventPlanner.Models.SubjectModels.SubjectListItem>

@{
    ViewBag.Title = "Index";
}

<body class="SubjectBG">




    <h2 style="text-align: center;">Subjects</h2>

    <p>
        @Html.ActionLink("Add New Subject", "Create")
    </p>
    @if (TempData.ContainsKey("SaveResult"))
    {
        <div class="alert alert-success fade in" role="alert">

            <button type="button" class="close" data-dismiss="alert">
                <span>&times;</span>
            </button>
            @TempData["SaveResult"]
        </div>
    }
    <table class="table table-bordered">
        <thead>
            <tr class="table-active">
                <th>
                    @Html.DisplayNameFor(model => model.SubjectID)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.TypeOfEvent)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.SubjectName)
                </th>
                <th></th>
            </tr>
        </thead>

        <tbody>
            @foreach (var item in Model)
            {

                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.SubjectID)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.TypeOfEvent)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.SubjectName)
                    </td>
                    <td>
                        @Html.ActionLink("Edit", "Edit", new { id = item.SubjectID }) •
                        @Html.ActionLink("Details", "Details", new { id = item.SubjectID })  •
                        @Html.ActionLink("Delete", "Delete", new { id = item.SubjectID })
                    </td>
                </tr>
            }
        </tbody>

    </table>
</body>