@model IEnumerable<EventPlanner.Models.SubjectModels.SubjectListItem>

@{
    ViewBag.Title = "Index";
}

<body class="SubjectBG">

    @if (TempData.ContainsKey("SaveResult"))
    {
        <div class="alert alert-success fade in" role="alert">

            <button type="button" class="close" data-dismiss="alert">
                <span>&times;</span>
            </button>
            @TempData["SaveResult"]
        </div>
    }

    <h2 style="text-align: center; padding-top: 1em;">Subjects</h2>

    <a href="@Url.Action("Create", "Subject")" class="btn btn-outline-dark">Add Subject</a>
  
    <table class="table table-bordered">
        <thead>
            <tr class="table-active">
                <th>
                    @Html.DisplayNameFor(model => model.SubjectID)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.TypeOfEvent)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.SubjectName)
                </th>
                <th></th>
            </tr>
        </thead>

        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.SubjectID)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.TypeOfEvent)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.SubjectName)
                    </td>
                    <td>
                        @Html.ActionLink(" ", "Edit", new { id = item.SubjectID }, new { @class = "fa fa-edit" })
                        @Html.ActionLink(" ", "Details", new { id = item.SubjectID }, new { @class = "fas fa-info-circle" })
                        @Html.ActionLink(" ", "Delete", new { id = item.SubjectID }, new { @class = "far fa-trash-alt" })
                    </td>
                </tr>
            }
        </tbody>

    </table>
</body>