@model IEnumerable<EventPlanner.Models.SubjectModels.SubjectListItem>

@{
    ViewBag.Title = "Index";
}

<body class="SubjectBG">

    <h2 style="text-align: center; padding-top: 1em;">Subjects</h2>

    <div style="padding-bottom: 1em; padding-top: 1em;">
        <a href="@Url.Action("Create", "Subject")"><i title="Add Subject"style="font-size: 2em;" class="fas fa-plus-square"></i></a>
    </div>

    <table class="table table-bordered">
        <thead>
            <tr class="table-active">
                <th>
                    @Html.DisplayNameFor(model => model.SubjectID)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.TypeOfEvent)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.SubjectName)
                </th>
                <th></th>
            </tr>
        </thead>

        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.SubjectID)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.TypeOfEvent)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.SubjectName)
                    </td>
                    <td>
                        @Html.ActionLink(" ", "Edit", new { id = item.SubjectID }, new { @class = "fa fa-edit", @title = "Edit" })
                        @Html.ActionLink(" ", "Details", new { id = item.SubjectID }, new { @class = "fas fa-info-circle", @title = "Details" })
                        @Html.ActionLink(" ", "Delete", new { id = item.SubjectID }, new { @class = "far fa-trash-alt", @title = "Delete" })
                    </td>
                </tr>
            }
        </tbody>

    </table>
</body>