@{
    ViewBag.Title = "Home Page";
}

<div class="titlehead">
    <img id="title-ep" src="~/Content/Assets/EP.png" style="width: 660px;">
    <h3 id="register-login" style="color:steelblue;"> @Html.ActionLink("Register", "Register", "Account") or @Html.ActionLink("Log in", "Login", "Account") in to begin planning!</h3>

</div>

<body class="home-body">

</body>


<div class="row" id="homenav" style="text-align: center; color: rosybrown">
    <div class="col-md-4">

        <h4 id="numborder">1</h4>

        @if (User.Identity.IsAuthenticated)
        {
           
            <h2 class="threenav">@Html.ActionLink("Subjects", "Index", "Subject")</h2>
        }

        @if (!User.Identity.IsAuthenticated)
        {

            <h2 class="threenav">Subjects</h2>
        }

        <h4>Create subjects for your events.</h4>

    </div>

    <div class="col-md-4">

        <h4 id="numborder">2</h4>

        @if (User.Identity.IsAuthenticated)
        {

            <h2 class="threenav">@Html.ActionLink("Locations", "Index", "Location")</h2>
        }

        @if (!User.Identity.IsAuthenticated)
        {

            <h2 class="threenav">Locations</h2>
        }

        <h4>Add a location so you know where your event will be.</h4>


    </div>

    <div class="col-md-4">

        <h4 id="numborder">3</h4>

        @if (User.Identity.IsAuthenticated)
        {

            <h2 class="threenav">@Html.ActionLink("Events", "Index", "Event")</h2>
        }

        @if (!User.Identity.IsAuthenticated)
        {

            <h2 class="threenav">Events</h2>
        }

        <h4>Schedule your events!</h4>

    </div>

</div>