@model EventPlanner.Models.LocationModels.LocationDetail

@{
    ViewBag.Title = "Details";
}

<div>
    <h2 style="text-align: center; padding-top: 1em;">Location Details</h2>
    <hr />


    <div class="card-container" style="text-align: center;">
        <div class="card" style="height: auto; width: 20em; display: inline-flex; padding: 1em 1em 1em 1em; margin: 1em 1em 1em 1em;">
            <div style="text-align: left;">
                @Html.DisplayFor(model => model.LocationID)
            </div>

            <div style="color: maroon; font-weight: 700">
                @Html.DisplayFor(model => model.LocationName)
            </div>

            <div>
                @Html.DisplayFor(model => model.Address)
            </div>

            <div style="padding-bottom: 15px;">
                Inside: @Html.DisplayFor(model => model.IsInside)
            </div>

            <div>
                @Html.ActionLink(" ", "Edit", new { id = Model.LocationID }, new { @class = "fa fa-edit" })
                @Html.ActionLink(" ", "Index", new { id = Model.LocationID }, new { @class = "fas fa-arrow-left" })
            </div>
        </div>

    </div>
</div>

