@model IEnumerable<EventPlanner.Models.LocationModels.LocationListItem>

@{
    ViewBag.Title = "Index";
}

<body class="LocationBG">

    <h2 style="text-align: center; padding-top: 1em;">
        Locations
    </h2>

    <div style="padding-bottom: 1em; padding-top: 1em;">
        <a href="@Url.Action("Create", "Location")"><i title="Add Location" style="font-size: 2em;" class="fas fa-plus-square"></i></a>
    </div>


    <table class="table table-bordered">
        <thead>
            <tr class="table-active">
                <th>
                    @Html.DisplayNameFor(model => model.LocationID)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.LocationName)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.IsInside)
                </th>
                <th></th>
            </tr>
        </thead>

        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.LocationID)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.LocationName)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.IsInside)
                    </td>
                    <td>
                        @Html.ActionLink(" ", "Edit", new { id = item.LocationID }, new { @class = "fa fa-edit", @title = "Edit" })
                        @Html.ActionLink(" ", "Details", new { id = item.LocationID }, new { @class = "fas fa-info-circle", @title = "Details" })
                        @Html.ActionLink(" ", "Delete", new { id = item.LocationID }, new { @class = "far fa-trash-alt", @title = "Delete" })
                    </td>
                </tr>
            }
        </tbody>
    </table>
</body>