@model EventPlanner.Models.EventDetail

@{
    ViewBag.Title = "Delete";
}

<h2 style="text-align: center; padding-top: 1em;">Event Details</h2>
<h4 style="text-align: center; color: darkslategray;">Are you sure you want to delete this event?</h4>
<hr />

    <div class="card-container" style="text-align: center;">
        <div class="card" style="width:auto; height:auto; display: inline-flex; word-wrap: break-word;">

            <div class="card-body" style="text-align: left; margin-left: 10px;">
                <div>
                    @Html.DisplayFor(model => model.EventID)
                </div>

                <div style="color: maroon; font-weight: 700;">
                    @Html.DisplayFor(model => model.Subject.SubjectName)
                </div>

                <div>
                    @Html.DisplayFor(model => model.Subject.TypeOfEvent)
                </div>

                <div>
                    @Html.DisplayFor(model => model.Description)
                </div>

                <div>
                    <i style="margin-left: 1px; margin-right: 7px;" class="far fa-calendar-check"></i>@Html.DisplayFor(model => model.Date)
                </div>

                <div>
                    <i style="margin-right: 1px;" class="far fa-clock"></i> @Html.DisplayFor(model => model.Time) |
                    All Day: @Html.DisplayFor(model => model.IsAllDay)
                </div>

                <div>
                    <i style="margin-left: 1px; margin-right: 5px;" class="fas fa-map-marker-alt"></i>
                    @Html.DisplayFor(model => model.Location.LocationName) |
                    @Html.DisplayFor(model => model.Location.Address) | Inside: @Html.DisplayFor(model => model.Location.IsInside)
                </div>

                <div style="padding-bottom: 15px;">
                    <i style="margin-right: 2px;" class="fas fa-route"></i>
                    @Html.DisplayFor(model => model.Location.TravelTime)
                </div>

                @using (Html.BeginForm())
                {
                    @Html.AntiForgeryToken()
                    <div style="text-align: center; margin-right: 7px;">
                        <button value="@Model.SubjectID" class="btn text-white delete"><i class="far fa-trash-alt"></i>&nbsp;</button>
                        @Html.ActionLink(" ", "Index", new { id = Model.EventID }, new { @class = "fas fa-arrow-left" })
                    </div>
                }
            </div>
        </div>
    </div>
