@model EventPlanner.Models.EventDetail

@{
    ViewBag.Title = "Details";
}

<div>
    <h2 style="text-align: center; padding-top: 1em;">Subject Details</h2>
    <hr />


    <div class="card-container" style="text-align: center;">
        <div class="card" style="height: 22em; width: 20em; display: inline-flex;">

            <div class="card-body" style="text-align: left;">
                <div>
                    @Html.DisplayFor(model => model.EventID)
                </div>

                <div style="color: maroon; font-weight: 700;">
                    @Html.DisplayFor(model => model.Subject.SubjectName)
                </div>

                <div>
                    @Html.DisplayFor(model => model.Subject.TypeOfEvent)
                </div>

                <div>
                    @Html.DisplayFor(model => model.Description)
                </div>

                <div>
                    <i style="margin-right: 7px;" class="far fa-calendar-check"></i>@Html.DisplayFor(model => model.Date)
                </div>

                <div>
                    <i style="margin-right: 5px;" class="far fa-clock"></i> @Html.DisplayFor(model => model.Time)
                </div>

                <div>
                    All Day: @Html.DisplayFor(model => model.IsAllDay)
                </div>

                <div>
                    @Html.DisplayFor(model => model.Location.LocationName)
                </div>

                <div>
                    @Html.DisplayFor(model => model.Location.Address)
                </div>

                <div>
                    Inside: @Html.DisplayFor(model => model.Location.IsInside)
                </div>

                <div style="padding-bottom: 15px;">
                    @Html.DisplayFor(model => model.Location.TravelTime)
                </div>

                <div style="text-align: center;">
                    @Html.ActionLink(" ", "Edit", new { id = Model.SubjectID }, new { @class = "fa fa-edit" })
                    @Html.ActionLink(" ", "Index", new { id = Model.SubjectID }, new { @class = "fas fa-arrow-left" })
                </div>
            </div>
        </div>

    </div>
</div>
