@model IEnumerable<EventPlanner.Models.EventListItem>

@{
    ViewBag.Title = "Index";
}

<body class="EventBG">


    <h2 style="text-align: center; padding-top: 1em;">Events</h2>

    <div style="padding-bottom: 1em; padding-left: 2.6em; padding-top: 1em;">
        <a href="@Url.Action("Create", "Event")"><i title="Add Event" style="font-size: 2em;"class="fas fa-plus-square"></i></a>
    </div>

    <div class="card-container" style="text-align: center;">
        @foreach (var item in Model)
        {

            <div class="card" style="height: 12em; width: 20em; display: inline-flex; padding: 1em 1em 1em 1em; margin: 1em 1em 1em 1em;">
                <div style="text-align: left;">
                    @Html.DisplayFor(model => item.EventID)
                </div>

                <div style="color: maroon; font-weight: 700">
                    @Html.DisplayFor(model => item.Subject.SubjectName)
                </div>

                <div>
                    <i style="margin-left: 1px; margin-right: 7px;" class="far fa-calendar-check"></i>@Html.DisplayFor(model => item.Date)
                </div>

                <div style="padding-bottom: 15px;">
                    All Day:  @Html.DisplayFor(model => item.IsAllDay)
                </div>

                <div>
                    @Html.ActionLink(" ", "Edit", new { id = item.EventID }, new { @class = "fa fa-edit", @title="Edit" })
                    @Html.ActionLink(" ", "Details", new { id = item.EventID }, new { @class = "fas fa-info-circle", @title = "Details" })
                    @Html.ActionLink(" ", "Delete", new { id = item.EventID }, new { @class = "far fa-trash-alt", @title = "Delete" })
                </div>
            </div>

        }

    </div>
</body>