@model IEnumerable<EventPlanner.Models.EventListItem>

@{
    ViewBag.Title = "Index";
}

<body class="EventBG">

    <h2 style="text-align: center; padding-top: 1em;">Events</h2>

    <a href="@Url.Action("Create", "Event")" class="btn btn-outline-dark">Add Event</a>

    @if (TempData.ContainsKey("SaveResult"))
    {
        <div class="alert alert-success fade in" role="alert">

            <button type="button" class="close" data-dismiss="alert">
                <span>&times;</span>
            </button>
            @TempData["SaveResult"]
        </div>
    }
    <table class="table table-bordered">
        <thead>
            <tr class="table-active">
                <th>
                    @Html.DisplayNameFor(model => model.EventID)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Subject.SubjectName)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Subject.TypeOfEvent)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Date)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.IsAllDay)
                </th>
                <th></th>
            </tr>
        </thead>

        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.EventID)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Subject.SubjectName)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Subject.TypeOfEvent)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Date)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.IsAllDay)
                    </td>
                    <td>
                        @Html.ActionLink(" ", "Edit", new { id = item.EventID }, new { @class = "fa fa-edit" }) 
                        @Html.ActionLink(" ", "Details", new { id = item.EventID }, new { @class = "fas fa-info-circle" }) 
                        @Html.ActionLink(" ", "Delete", new { id = item.EventID }, new { @class = "far fa-trash-alt" })
                    </td>
                </tr>
            }
        </tbody>
    </table>
</body>